.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f5f5;
}

.auth-box {
  background: white;
  padding: 30px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.auth-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.auth-box button {
  width: 100%;
  padding: 10px;
  background: #ff5252;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.auth-box button:hover {
  background: #e64545;
}

/* Input focus red border */
.auth-box input:focus {
  border-color: #ff5252;
  outline: none;
}

/* Signup link color */
.auth-box p a {
  color: #ff5252;
  font-weight: 600;
  text-decoration: none;
}

.auth-box p a:hover {
  text-decoration: underline;
}


.auth-box p {
  text-align: center;
  margin-top: 10px;
}
